@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

#header {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

#title {
  font-size: 3rem;
  color: #2ed1d2;
  font-family: "Roboto", sans-serif;
}

ion-label {
  font-family: "Roboto", sans-serif;
}

ion-input {
  font-family: "Roboto", sans-serif;
}
