@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

ion-label {
  font-family: "Roboto", sans-serif;
}

ion-input {
  font-family: "Roboto", sans-serif;
}

ion-button {
    margin-top: 2rem;
}

form {
    margin-top: 3rem;
}
